<% layout('layout') -%>
  <h1><%-title %></h1>
  
  <div class="version">Version - <%- version %></div>

  <% Object.keys(statuses).forEach(function(status){ %>
    <div class="status">
      <h3><%- status %>:</h3>
      <% if(statuses[status]) { %>
        <div class="ok"><%- statuses[status]%></div>
      <% } else { %>
        <div class="fail">Not loaded correctly</div>
      <% }%>
    </div>
  <% }); %>